* {
    margin: 0;
    font-family: 'Open Sans', 'sans-serif';
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border: 0;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    padding:18px 35px;
    color:aliceblue
}
.btn-secondary{
     font-weight: 600;
     font-size:20px;
     height: 64px;
    color:lightcoral;
    background-color:aliceblue;
    border: 0px;
    border-radius: 7px;
    padding:18px 35px;
    margin-left:10px;
    }
.header{
    background:#FFF8F3 ;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* Header and navigation styles */
nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.text-primary {
    color: orange;
}
/* banner styles */
.banner{
    display:flex;
    align-items: center;
    margin:0 200px;
}
.banner-title{
    font-weight: 800;
    font-size: 85px;
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
}
.banner-description{
    color:#757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin:0 auto;
}
section{
    margin-top:30px;
}
/* about section start */
.about {
    margin:130px 0px ;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding:130px 150px;
    text-align: center;
}
.section-title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin:30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color:#757575;
}
.info-description{
    font-size:20px;
    font-weight:700;
    color:#474747;
}
/* What i do Styles */
.what-i-do{
    margin-top: 130px;
}

.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
background-color: #FFFFFF;
/* box-shadow: 0px 6px rgba(0,0,0,0.6); */
box-shadow: 0px 2px 50px rgba(0,0,0,0.6);
border-radius: 7px;
padding:30px;
}
.section-title{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.skill-title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}
.skill-description{
    color: #757575;
}

/* Resume related styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color:#474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color:#757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume .description{
    color:#757575;
}
.resume-item{
    margin-top:30px;
    margin-bottom: 30px;
}
.resume-button{
    margin-top:50px;
    text-align: center;
}
/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding:130px 200px;
}
.contact .section-title{
text-align: left;
}
.contact input[type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    border:0px;
    width: 100%;
    padding: 18px 30px;
}
.contact a{
    text-decoration: none;
}
input{
    height: 64px;
}